<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.sdsu.cs532.set.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SET Manager"
            class="org.sdsu.cs532.set.Perspective"
            id="org.sdsu.cs532.SET.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Requirement Editor"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.sdsu.cs532.set.RequirementEditorView"
            id="org.sdsu.cs532.SET.requirementeditorview">
      </view>
   	  <view
            name="Projects"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.sdsu.cs532.set.NavigationView"
            id="org.sdsu.cs532.SET.navigationView">
      </view>
      <view
            allowMultiple="true"
            class="org.sdsu.cs532.set.RequirementsListingView"
            icon="icons/format_list_unordered.png"
            id="org.sdsu.cs532.SET.reqeditorview"
            name="Requirements Listing"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SET Manager"
            id="org.sdsu.cs532.SET.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="org.sdsu.cs532.SET.category"
            id="org.sdsu.cs532.SET.open">
      </command>
      <command
            name="Open Requirement Manager"
            description="Open the requirement manger"
            categoryId="org.sdsu.cs532.SET.category"
            id="org.sdsu.cs532.SET.openMessage">
      </command>
      <command
            categoryId="org.sdsu.cs532.SET.category"
            description="Opens the Requirement Listing"
            id="org.sdsu.cs532.SET.openListing"
            name="Open Requirement Listing">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.sdsu.cs532.SET.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.sdsu.cs532.SET.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="org.sdsu.cs532.SET.openListing"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+4">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.sdsu.cs532.SET.application"
            name="SET Manager">
         <property
               name="aboutText"
               value="SET Manager">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>

</plugin>
